@import "navbar.css";

.create_group {
  text-align:center;
  margin:0rem auto;
  width: 100vw;
}

.form_group {
   margin-bottom: 1rem;
   width:50vw;
   border:1px solid var(--blue) ;
   padding: 1em;
   border-radius: 1rem;
 }

 .select {
	margin-bottom: 1rem;
	width:43vw;
	border:1px solid var(--blue) ;
	padding: 1em;
	border-radius: 1rem;
 }

 button {
	 background-color:#33ccff;
	 margin-top:0;
	 min-width:6vw;
	 padding: 1em;
 }

.form_group:focus-within {
  outline: none;
 }

 input[type="submit"] {
   width: 50vw;
   padding:1.5rem;
   color:white;
   font-weight: bold;
   font-size: 20px;
   background-color: var(--blue);
   cursor: pointer;
 }
 .logo {
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	cursor: pointer;
	width:10%;

}

.logo img {
	width:60%;
	height: auto;
}

.admin_details {
  margin-left:2rem;
  color:var(--blue);
  margin-bottom:2rem;
  font-weight: bold;
}

footer {
	text-align:center;
	bottom:0;
	padding:10px;
	position:fixed;
	width:100vw;
	background-color:#f2f2f2;
}


/*Styling Welcome menu for mobile devices*/
@media only screen and (max-width:767px){
	.select {
		width: 65vw;
	}
	.form_group{
		width: 85vw;
	}

	input[type="submit"] {
		width:85vw;
	}

	.logo img {
		width:100%;
		height: auto;
	}

	
}