@import "navbar.css";

.create_group {
	text-align:center;
	margin:0rem 2rem;
	width: 70vw;
}
 

 .form_group {
 	margin-bottom: 2rem;
 	width:60vw;
 	border:3px solid #d7d7c1;
 	padding: 1em;
 	border-radius: 1rem;
 }

 .select_users {
	width:80vw;
}
 
 .select {
	width:60vw;
  }

  select option[data-default] {
	  color:#888;
  }
 button {
	 background-color:#33ccff;
	 margin-top:0;
	 padding: 1em;
	
 }
 
.form_group:focus-within {
 	outline: none;
 }

 input[type="submit"] {
 	width: 80vw;
 	padding:1.5rem;
 	color:white;
 	font-weight: bold;
	font-size: 20px;
 	background-color: var(--blue);
 	cursor: pointer;
 }

 .logo {
	margin-left:2rem;
	margin-top: 1rem;
	cursor: pointer;
  }

.logo img {
	width:10vw;
	height: auto;
}

.admin_details {
	margin-left:2rem;
	color:var(--blue);
	margin-bottom:2rem;
	font-weight: bold;
}