
@import "navbar.css";
/*Welcome Div*/
.welcome {
	margin-top:3rem;
	margin: auto;
	overflow-y: scroll;
	animation: slide_up 1s ease-in-out;
}

.welcome_text {
	margin-top:9rem;
	text-align:center;
	width: 50vw;
	margin:1rem auto;
}

.welcome h1 {
	text-align:center;
	font-size: 30px;
	color: var(--blue);
}
.welcome_item p {
	text-align: center;
}

.welcome_button {
	margin-top:2rem;
}

.logo {
		margin-left:47%;
		margin-top:40px;
}
.logo img {
	width: 10%;
	height: auto;	
}

.btn {
	display: block;
	width: 30%;
	margin: auto;
	padding: 10px;
	border-radius: 30px;
	border:3px solid var(--blue);
	text-decoration: none;
	color:var(--blue);
	text-align:center;
}
.btn:hover {
  background-color: var(--blue);
  color:white;
}

@keyframes slide_up {
	0% {
		transform: translateY(400px);
	}

	100% {
		transform: translateY(0);
	}
}

footer {
	text-align:center;
	bottom:0;
	padding:10px;
	position:fixed;
	width:100vw;
	background-color:#f2f2f2;
	}

/*Styling Welcome menu for mobile devices*/
@media only screen and (max-width:767px) {
	.logo{
		margin-left: 43%;
		height:auto;
	}
	
	.logo img{
		width: 30%;
		height: auto;	
	}

	.btn{
		width:80%;
	}

	.welcome_item {
		padding: 12px;
		width:100vw;
	}

	.welcome_text {
		margin-top:0.7rem;
		width:80vw;
	}
}

@media only screen and (max-height:640px) {
	.welcome_button {
		margin-top:2px;
	}
	
	.welcome_text {
		margin-top:3px;
	}
	.logo {
		margin-top:1rem;
	}
}

@media only screen and (max-height:568px) {
	.welcome_button {
		margin-top:-4px;
	}
	
	.welcome_text {
		margin-top:3px;
	}
	.logo {
		margin-top:1rem;
	}
}