@import "navbar.css";

.sign_up_form {

margin-left: 40%;
margin-top:60px;
}


/*.form_group {
	border:none;
	border-bottom: 2px solid var(--blue);
	padding: 10px;
	margin-bottom:6px;
}

.form_group:focus {
	border: none;
	outline: none;
	border-bottom: 2px solid var(--blue);
}

.btn_display {
	display: block;
	padding: 7px;
	border-radius: 30px;
	border:3px solid var(--blue);
	color:var(--blue);
	background-color: var(--white);
}

.btn_display:hover {
  background-color: var(--blue);
  color:white;
}

@media only screen and (max-width:767px){
	.logo{
		width: 100%;
	}
	.logo img {
		width:80%;
	}

}
@media only screen and (max-width:560px){
	.sign_up_form {
		margin-right: 30%;		
	}
}


*/
footer {
	text-align:center;
	margin-top:5%;
	padding:10px;
	background-color:#f2f2f2;
}

.logo {
	margin-top: 20px;
	cursor: pointer;
}

.logo img {
	width:10%;

}


