@import "navbar.css";

.card {
  text-align:center;
  margin: 0 auto;
  width: 100vw;
  padding:30px;
  -webkit-box-shadow:5px 5px 3px #888888, -5px -5px 3px #888888;
  box-shadow: 5px 5px 3px #888888, -5px -5px 3px #888888;
}

.card h1 {
  font-size:1rem;
  text-decoration: none;
}

.card a {
  text-decoration: none;
	color:var(--blue);
}

.margin {
  margin-top:2rem;
}

.form_group {
  width: 80vw;
  padding: 10px;
  margin-bottom:10px;
}

.form_group:focus {
	outline: none;
	border-bottom: 2px solid var(--blue);
}

.btn_display {
  cursor: pointer;
  display: block;
  width: 80vw;
  margin: 20px auto 0;
  text-align:center;
  padding: 7px;
  border:3px solid var(--blue);
  color:var(--white);
  background-color: var(--blue);
  text-decoration: none;
}

.btn_display:hover {
  background-color: #1787f6;
}

.btn {
  cursor: pointer;
  text-align:center;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
  border:3px solid var(--white);
  color:var(--white);
  text-decoration: none;
  box-shadow: 5px 5px 3px #888888, -5px -5px 3px #888888;
}

.btn:nth-of-type(2) {
  margin-left: 2rem;
}

.btn:hover {
  background-color: #1787f6;
}

#feedback.success {
  background: var(--success);
  display: block;
}

#feedback.fail {
  background: var(--fail);
  display: block;
}

#feedback {
  color: white;
  padding: 0.6rem;
  position: fixed;
  width:100vw;
  text-align: center;
  display: none;
  top:4rem;
  padding: 0.6rem;
  -webkit-animation: fadeInOut 3.5s;
  animation: fadeInOut 3.5s;
}

footer {
	text-align:center;
  padding:10px;
  font-size:0.8rem;
  position:fixed;
  bottom: 0;
  letter-spacing: .08rem;
	width:100vw;
	background-color:#f2f2f2;
	}

#index {
  background-image: url(https://source.unsplash.com/M5UD_FyuDl8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

#welcome {
  height: 75vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:  center;
  justify-content: center;
  -webkit-align-items:center;
  align-items: center;
  line-height: 2.5rem;
}

#welcomeText {
  width:80vw;
  text-align: center;
  -webkit-animation: SlideUp 2s;
  animation: SlideUp 2s;
}

#welcomeText h1 {
  font-size: 1.5rem;
}

#welcomeText h1, #welcomeText p {
  color: white;
}

@keyframes fadeInOut {
  0%, 50% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes SlideUp {
	from {
		transform: translateY(400px);
	}
	to {
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeInOut {
  0%, 50% { opacity: 1 }
  100% { opacity: 0 }
}

@-webkit-keyframes SlideUp {
	from {
		-webkit-transform: translateY(400px);
	}
	to {
		-webkit-transform: translateY(0);
	}
}

#userHeading {
  padding: 0.5rem;
  display: -webkit-flex;
  display: flex;
  font-size: 1.3rem;
  color: var(--white);
  background: var(--blue);
  -webkit-align-items: center;
  align-items: center;
  height: auto;
}

#openNav {
  -webkit-flex:1;
  flex:1;
  cursor: pointer;
}

#heading {
  -webkit-flex:1.5;
  flex:1.5;
}

#sideNav {
  background: #f2f2f2;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  z-index:1;
  width:0;
  -webkit-transition: .4s;
  transition: .4s;
}

#closeNav {
  font-weight: bolder;
  font-size:1.5rem;
  position: absolute;
  top:0;
  right: 1rem;
  cursor: pointer;
}

.nav {
  list-style-type: none;
  width:100vw;
}

.nav a {
  text-decoration: none;
  text-align: center;
  color:black;
  display: inline-block;
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: 1rem;
}

.nav a:hover {
  background-color: #b3d9ff;
  padding: 8px 5rem 8px 8px;
}

.nav {
  padding: 1rem;
  margin-top:1rem;
}
.navTabs i {
  margin-right: 1rem;
}
.navTabs {
  margin-bottom: 2rem;
}
  
.userInfo {
  padding: 1rem;
  font-size: 0.8rem;
  background:#b3d9ff;
}

#inbox {
  height:1px;
}

.message {
  border: 1px solid #cac5c5;
  padding: 16px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.messageBody {
  white-space: nowrap;
  overflow: hidden;
}
.message:hover {
  background: #f0f5f5;
}

.hide {
  display: none;
}

#composeMessageBtn {
  background-color: var(--blue);
  color:white;
  border-radius: 4rem;
  padding: .9rem;
  font-size: 1rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor:pointer;
} 

#composeMessageBtn:hover {
  background-color: #1787f6;
}

#modal {
  background: white;
  position: fixed;
  padding: 1rem;
  text-align: justify;
  line-height:1.8rem;
  height: 100vh;
  width: 100vw;
}

#modalSubject {
  border-bottom: 1px solid #cac5c5; 
}

#modalBody {
  margin-top: 0.8rem;
}

#modalClose, #modalTrash {
  font-size: 1.4rem;
  cursor: pointer;
}

#modalClose {
  font-weight: bolder;
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
}

.compose_group {
  display: block;
  border: none;
  border-bottom: 2px solid #cac5c5;
  padding: 1rem;
  width: 100vw;
  resize: none;
}

.compose_group:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #cac5c5;
}

#message {
  height: 50vh;
}
@media screen and (min-width:500px) {
  .card {
    width: 80vw;
  }

  .form_group {
    width: 70vw;
  }

  .btn_display {
    width: 70vw
  }

  #welcomeText {
    width: 70vw;
  }

  footer {
  font-size:1rem;
  }
} 

@media screen and (min-width:600px) {
  .card {
    width: 65vw;
  }
  .form_group {
    width: 50vw;
  }
  .btn_display {
    width: 50vw
  }
} 

@media screen and (min-width:768px) {
  .card {
    width: 50vw;
  }
  .form_group {
    width: 40vw;
  }
  .btn_display {
    width: 40vw
  }
  #welcomeText {
    width: 40vw;
  }
  #welcomeText p {
    font-size: 1.3rem;
  }
  .margin {
    margin-top:4rem;
  }

  #heading {
    text-align: center;
  }

  #composeMessageBtn {
    display: none;
  }
  #sideNav {
    display: none;
  }
  #openNav {
    display: none;
  }
  #desktop {
    display: flex;
    display: -webkit-flex;
    border-bottom: 1px solid #cac5c5;
  }
 #desktop .userInfo {
   padding:2rem;
   font-size: 1rem;
   width: 35vw;
 }
  #desktop .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }

  #desktop .nav a {
    border: 2px solid #888888;
    width: 9vw;
    margin-left: 0;
  }
  #desktop .nav a:hover {
  padding: 0;
  }
} 

@media screen and (max-width:768px) {
  .hidden-xs{
    display: none;
  }
}
@media screen and (min-width:1000px) {
  .card {
    width: 30vw;
  }
  .form_group {
    width: 25vw;
  }
  .btn_display {
    width: 25vw
  }
} 
